name: Commit Image Tag

on:
  workflow_call:
    inputs:
      git_repository:
        required: true
        type: string
      git_branch:
        required: true
        type: string
      file_path:
        required: true
        type: string
      image_tag:
        required: true
        type: string
    secrets:
      token:
        required: true

jobs:
  commit-image-tag:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout target repo
        uses: actions/checkout@v4
        with:
          repository: ${{ inputs.git_repository }}
          token: ${{ secrets.token }}
          ref: ${{ inputs.git_branch }}

      - name: commit image tag
        run: |
          echo "Updating image tag to ${{ inputs.image_tag }}"
          git config --global user.name "Umar Arafath"
          git config --global user.email "umararafath18@gmail.com"
          sed -i.bak 's|\(image_tag[[:space:]]*=[[:space:]]*\)".*"|\1"${{ inputs.image_tag }}"|' ${{ inputs.file_path }}
          rm -f ${{ inputs.file_path }}.bak
          git add ${{ inputs.file_path }}
          git commit -m "Update image tag to ${{ inputs.image_tag }}"
          git push origin ${{ inputs.git_branch }}
